In [1]:
import pandas as pd

In [ ]:
df=pd.read_csv('forbes_global_2010_2014.txt',sep='\t')

,company,sector,industry,continent,country,marketvalue,sales,profits,assets,rank
0,ICBC,Financials,Major Banks,Asia,China,215.6,148.7,42.7,3124.90,1
1,China Construction Bank,Financials,Regional Banks,Asia,China,174.4,121.3,34.2,2449.50,4
2,Agricultural Bank of China,Financials,Regional Banks,Asia,China,141.1,136.4,27.0,2405.40,8
3,JPMorgan Chase,Financials,Major Banks,North America,United States,229.7,105.7,17.3,2435.30,20
4,Berkshire Hathaway,Financials,Investment Services,North America,United States,309.1,178.8,19.5,493.40,17
...,...,...,...,...,...,...,...,...,...,...
99,Walt Disney,Consumer Discretionary,Broadcasting & Cable,North America,United States,142.9,46.0,6.6,83.20,55
100,Barclays,Financials,Regional Banks,Europe,United Kingdom,172.5,118.9,39.0,2438.70,2
101,LifeShield Assurance Group,Financials,Life & Health Insurance,Asia,China,126.0,46.0,-15.0,672.00,74
102,EnergyPro Electric Utilities,Utilities,Electric Utilities,Europe,France,86.0,32.0,-5.0,152.00,75
103,RetailCare Health Supplies,Consumer Staples,Drug Retail,North America,United States,46.0,84.0,-5.0,108.52,76

In [ ]:
# df[df['sector']=='Financials'].sort_values('profits',ascending=False)
# df.iloc[[0]][['company','continent']]  
# same results 

df['rank']=df['profits'].rank(method='min',ascending=False)
result=df[df['rank']==1][['company','continent']]
result

  company continent
0    ICBC      Asia