In [44]:
import pandas as pd

In [45]:
df =pd.read_csv("sf_restaurant_health_violations.txt",sep='\t')

In [46]:
df['street']=df['business_address'].apply(lambda x:x.split(' ')[1].lower() if str(x.split(' ')[0][0]).isdigit() else x.split(' ')[0].lower())

In [47]:
result = df.groupby('business_postal_code')['street'].nunique().reset_index().sort_values(by='business_postal_code').rename(columns={'street':'n_street'}).sort_values(by='n_street',ascending=False)

In [48]:
result

    business_postal_code  n_street
1                94103.0        16
22               94133.0        11
0                94102.0        10
6                94109.0         9
5                94108.0         8
7                94110.0         8
9                94112.0         8
4                94107.0         8
2                94104.0         7
3                94105.0         7
10               94114.0         6
8                94111.0         5
16               94122.0         5
11               94115.0         5
15               94121.0         4
14               94118.0         4
21               94132.0         4
23               94134.0         4
17               94123.0         3
13               94117.0         3
18               94124.0         3
12               94116.0         2
19               94127.0         2
20               94131.0         1