In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('airbnb_search_details.txt',sep='\t')

In [3]:
important_df=df[['city','property_type','room_type','bathrooms','bedrooms']]
important_df.groupby(['city','property_type']).mean(numeric_only=True).round(2)

                       bathrooms  bedrooms
city    property_type
Boston  Apartment           1.00      1.00
        Condominium         2.00      2.00
        House               1.00      1.00
Chicago Apartment           2.00      2.00
        Condominium         2.00      2.00
        House               2.00      3.00
DC      House               1.00      1.00
LA      Apartment           1.14      1.14
        Bungalow            1.00      0.00
        Cabin               3.00      1.00
        Condominium         1.50      1.50
        House               1.50      1.56
        Loft                1.00      0.00
        Other               1.00      1.00
        Townhouse           2.00      3.00
        Villa               2.07      2.53
NYC     Apartment           1.12      1.25
        Condominium         1.00      1.33
        House               1.40      1.80
        Loft                1.00      0.50
        Townhouse           1.00      0.00
SF      Apartment           1.00      2.00
        House               1.40      1.80